<table class="table">
  <thead class="thead-dark text-center">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom Client</th>
      <th scope="col">Cin</th>
      <th scope="col">Tel</th>
      <th scope="col">Email</th>
      <th scope="col">Reclamation</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr *ngFor="let data of reclamationsList; let i = index">
      <td>{{ i }}</td>
      <td>{{ data.nomClt }}</td>
      <td>{{ data.cinClt }}</td>
      <td>{{ data.telClt }}</td>
      <td>{{ data.emailClt }}</td>
      <td>{{ data.type }}</td>
      <td>{{ data.date }}</td>
      <td *ngIf="data.status == 'T'"><img [src]="iconTraite" alt="Edit" /></td>
      <td *ngIf="data.status == 'R'"><img [src]="iconReject" alt="Edit" /></td>
      <td *ngIf="data.status == 'A'"><img [src]="iconAttente" alt="Edit" /></td>
      <td>
        <!-- <a  [routerLink]="['/edit-reclamation/:id']">
          <img [src]="imgPen" alt="Edit" />
        </a> -->

        <a  [routerLink]="['/edit-reclamation',data._id]">
          <img [src]="imgPen" alt="Edit" />
        </a>
        
        <!-- <a (click)="selectItem('65ad04b209f42ee8bf221c6a')">
          <img [src]="imgPen" alt="Edit" />
        </a> -->
        
      </td>
    </tr>
  </tbody>
</table>
