.logo {
    width: 200px;
    margin: 13px;
    cursor: pointer;
  }
  .sidebar {
      /* padding: auto; */
    height: auto;
  }
  .container-dashboard {
    display: flex;
  }
  .contenu {
    flex: 4;
    margin: 2%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    padding: 25px;
    width: auto;
    height: 600px;
    border-radius: 10px;
    align-items: center;
    
  }

  .itemDash {
    border-radius: 10px;
    margin: 5px;
  }
  .itemDash:hover{
    border-radius: 10px;
    
    background-color: #04A685;
  }
  .itemselected{
    border-radius: 10px;
    background-color: #545958;
    margin: 5px;
  }
  .logoutlogo {
    height: 28px;
  }
  .logout {
    margin: auto;
    margin-top: 345px;
    color: black;
  }
  .nav-link {
    color: black;
  }
  .logout:hover {
    border-radius: 10px;
    background-color: #04a685;
  }
  
  