.logo {
<<<<<<< HEAD
    width: 200px;
    margin: 13px;
  }
  .sidebar {
      /* padding: auto; */
    height: 640px;
  }
  .container-dashboard {
    display: flex;@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    /* edit-reclamation.component.css */
    
    body {
        font-family: Arial, sans-serif;
       }
       
       .contenu {
        margin: 50px;
       }
       
       .form-control {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
       }
       
       .form-control:read-only {
        background-color: #f8f9fa;
       }
       
       button {
        color: white;
        padding: 14px 20px;
        margin: 8px 30%;
        border: none;
        cursor: pointer;
        width: 50%;
        align-self: center;
    
        
       }
      
       button:hover {
        opacity: 0.8;
       }
       .verif {
    
       background-color: #fff;
       color: #4CAF50;
       border: 1px solid #ddd;
    }
    .verif:hover{
        background-color: #4CAF50;
        color: #fff;
    }
    
       .danger{
        background-color: #fff;
        color: #e20404;
        border: 1px solid #ddd;
    }
    .danger:hover{
        background-color: #e20404;
        color: #fff;
    }
    .logo {
        width: 200px;
        margin: 13px;
      }
      .sidebar {
          /* padding: auto; */
        height: 640px;
      }
      .container-dashboard {
        display: flex;
      }
      .contenu {
        flex: 4;
        margin: 2%;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
        padding: 25px;
        width: auto;
        border-radius: 10px;
        align-items: center;
        
      }
      .height {
        height: 100px;
        padding: 12px 20px;
      }
      .great-green-giant {
        font-size: 2rem;
        color: green;
        text-align: center;
     }
     .wide-select {
        height: 10px;
        padding: 5px 20px; }
  }
  .contenu {
    flex: 4;
    margin: 2%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    padding: 25px;
    width: auto;
    border-radius: 10px;
    align-items: center;
    
  }
  
=======
  width: 200px;
  margin: 13px;
}
.sidebar {
    /* padding: auto; */
  height: auto;
}
.container-dashboard {
  display: flex;
}
.contenu {
  flex: 4;
  margin: 2%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  padding: 25px;
  width: auto;
  height: 600px;
  border-radius: 10px;
  align-items: center;
  
}
>>>>>>> b2a7bf1f98bdd47dfc889ad399c1cde0bc61ec88
