.logo {
  width: 200px;
  margin: 13px;
  cursor: pointer;
}
.sidebar {
  /* padding: auto; */
  height: auto;
}
.container-dashboard {
  display: flex;
}
.contenu {
  flex: 4;
  margin: 2%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  padding: 25px;
  width: auto;
  /* height: 600px; */

  border-radius: 10px;
  align-items: center;
}
.height {
  height: 100px;
  padding: 12px 20px;
}
.great-green-giant {
  font-size: 2rem;
  color: green;
  text-align: center;
}
/* .wide-select {
  height: 10px;
  padding: 20px;
} */
/* .stat{
  padding: ;
} */

/* 
body {
  font-family: Arial, sans-serif;
} */

.form-control {
  width: 100%;
  /* padding: 12px 20px; */
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-control:read-only {
  background-color: #f8f9fa;
}

.btn{
  padding: 14px 20px;

}

button {
  color: white;
  padding: 14px 20px;
  margin: 20px 50px;
  border: none;
  cursor: pointer;
  /* width: 50%; */
  align-self: center;
}

button:hover {
  opacity: 0.8;
}
.verif {
  background-color: #fff;
  color: #4caf50;
  border: 1px solid #ddd;
}
.verif:hover {
  background-color: #4caf50;
  color: #fff;
}

.danger {
  background-color: #fff;
  color: #e20404;
  border: 1px solid #ddd;
}
.danger:hover {
  background-color: #e20404;
  color: #fff;
}

.itemDash {
  border-radius: 10px;
  margin: 5px;
}
.itemDash:hover {
  border-radius: 10px;
  background-color: #04a685;
}
.itemselected {
  border-radius: 10px;
  background-color: #545958;
  margin: 5px;
}
.logoutlogo {
  height: 28px;
}
.logout {
  margin: auto;
  margin-top: 345px;
  color: black;
}
.nav-link {
  color: black;
}
.logout:hover {
  border-radius: 10px;
  background-color: #04a685;
}
