* {
    font-family: "Poppins", sans-serif;
  }
  .wrapper {
    background: #ececec;
    background-image: url("../../assets/images/bg.jpeg");
    background-position: center;
  
    padding: 0 20px 0 20px;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .side-image {
    background-image: url("../../assets/images/customer-care.png");
    background-position: center;
    background-color: #04a685;
    /* background: linear-gradient(#04a685, #272D2D); */
    /* background-size: cover; */
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    position: relative;
  }
  .row {
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #fff;
    padding: 0px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  }
  .text {
    text-align: center; /* Centre le texte horizontalement */
    padding: 20px;
    margin-top: 200px;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 2;
  }
  h2 {
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #04a685;
    display: inline-block;
    letter-spacing: 1px;
  }
  .text p {
    color: #607d8b;
    font-size: 20px;
  }
  i {
    font-weight: 400;
    font-size: 15px;
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .input-box {
    width: 330px;
    box-sizing: border-box;
  }
  img {
    width: 35px;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .input-box header {
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
  }
  .input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
  }
  .input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
  }
  .input-box .input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
    pointer-events: none;
    transition: 0.5s;
  }
  .input-field input:focus ~ label {
    top: -10px;
    font-size: 13px;
  }
  .input-field input:valid ~ label {
    top: -10px;
    font-size: 13px;
    color: #5d5076;
  }
  .input-field .input:focus,
  .input-field .input:valid {
    border-bottom: 1px solid #743ae1;
  }
  
  .submit {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
  
    background: #04a685;
    color: #fff;
  
    border: none;
    border-radius: 30px;
  
    cursor: pointer;
    transition: 0.4s;
  }
  .submit:hover {
    opacity: 0.7;
  }
  .remember {
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
  }
  
  @media only screen and (max-width: 768px) {
    .side-image {
      border-radius: 10px 10px 0 0;
    }
    img {
      width: 35px;
      position: absolute;
      top: 20px;
      left: 47%;
    }
    .text {
      position: absolute;
      top: 70%;
      text-align: center;
    }
    .text p,
    br {
      font-size: 16px;
    }
    .row {
      max-width: 420px;
      width: 100%;
    }
  }
  